{% extends "body.html" %}

{% block main %}
    <div class="container main">
    <div class="row justify-content-center register">
        <div class="col">
            <h1>About Us</h1>
            <p>My name is Nico Amarilla and I maintain this site. I saw a need to create excel files everytime I want to create a detailed training plan. It works but a bit cumbersome.</p>
            <p>So in 2017 I started tinkering around with creating my own app for creating calendars, with training data added into it.</p>
            <p>Finally got a working version. Its a bit rough around the edges, so please let me know if you find any bugs using the Contact Us page linked in the footer.</p>
        </div>
        
    </div>
</div><!-- /.container -->
{% endblock %}
