{% extends "document.html" %}

{% block headAssets %}
	<link href="{{baseUrl}}/bootstrap4/css/bootstrap.css" rel="stylesheet">
	<link href="{{baseUrl}}/css/style2.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}

{% block body %}


<div class="container-fluid container-home">
  <div class="row-top">
    <a href="https://twitter.com/runtrainingcal?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @runtrainingcal</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://www.facebook.com/runtrainingcalendar/" target="_blank"><svg width="20px" height="20px" viewBox="3 3 18 18"><path fill="#365899" d="M5,3h14c1.104,0,2,0.896,2,2v14c0,1.104-0.896,2-2,2H5c-1.104,0-2-0.896-2-2V5C3,3.896,3.896,3,5,3 M18,5h-2.5C13.566,5,12,6.567,12,8.5V11h-2v3h2v7h3v-7h3v-3h-3V9c0-0.552,0.447-1,1-1h2V5z"/></svg></a>
  </div>
  <div id="calendar-view" class="calendar-view" v-cloak>
    <div class="question">${question}</div>
    <button v-if="page>1" v-bind:disabled="disabled" v-on:click="setPage(page-1)" class="undo"><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#000000" d="M13.5,7A6.5,6.5 0 0,1 20,13.5A6.5,6.5 0 0,1 13.5,20H10V18H13.5C16,18 18,16 18,13.5C18,11 16,9 13.5,9H7.83L10.91,12.09L9.5,13.5L4,8L9.5,2.5L10.92,3.91L7.83,7H13.5M6,18H8V20H6V18Z" /></svg></button>
    <div class="q-cards" v-bind:data-page="page">
      <div class="q-card q-card-1" v-bind:data-active="isActive(1)">
        <input v-model="calendarName" v-bind:class="shake1" v-bind:placeholder="placeholder1" id="calendar-name" type="text">
        <button v-on:click="setPage(2)">Set Name</button>
      </div>
      <div class="q-card q-card-2" v-bind:data-active="isActive(2)">
        <input v-model="calendarDate" v-bind:class="shake2" id="event-date" type="date" >
        <div class="anchor-options">
          <label for="dateAnchorPointEnd"><input v-model="anchor" id="dateAnchorPointEnd" type="radio" name="dateAnchorPoint" value="end"> Race or Event Date</label>
          <label for="dateAnchorPointStart"><input v-model="anchor" id="dateAnchorPointStart" type="radio" name="dateAnchorPoint" value="start"> Start Date</label>
        </div>
        <button v-on:click="setPage(3)">Set Date</button>
      </div>
      <div class="q-card q-card-3" v-bind:data-active="isActive(3)">
        <select v-model="planUid" v-bind:class="shake3" name="plan" id="plan">
          <option value="0">None - Give me a blank slate</option>
          {% for plan in plans %}
            <option value="{{plan.uid}}">{{plan.title}}</option>
          {% endfor %}
        </select>
        <button v-on:click="setPage(4)" v-bind:disabled="disabled">Create Calendar</button>
      </div>
    </div>
    <div id="calendar"></div>
    <div v-if="calendarData" class="row-calendar">
        <div class="action-bar" v-cloak>
            <div class="action-nav">
                <div class="btn-group" role="group" aria-label="pagination">
                    <button v-on:click="prevMonth" class="btn btn-light" aria-label="Last Month">
                        <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </button>
                    <button v-on:click="today" class="btn btn-light" aria-label="Today">
                        <span>Today</span>
                    </button>
                    <button v-on:click="nextMonth" class="btn btn-light" aria-label="Next Month">
                        <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="action-year">
                <h1>${ monthName } ${ year }</h1>
            </div>
            <div class="action-page">
                <button v-on:click="onConfig" class="btn btn-light">
                    <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="table-port">
          <table id="table" class="table calendar" v-cloak>
              <thead>
                  <tr>
                      <th v-for="(weekDay, index) in weekDays">${weekDay}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="(row, y) in matrix">
                      <td v-for="(col, x) in row" v-on:click="onDate(col)" v-bind:class="col.type">
                          <div class="date">
                            <div class="day">
                                ${col.day}
                            </div>
                            <div v-for="(info, index) in col.info" class="event" v-bind:data-type="info.workoutType">${info.title}</div>
                          </div><!-- .date -->
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <h2 v-if="calendarName">${calendarName}</h2>
        <div class="save-bar">
          <button v-on:click="saveCalendar" v-bind:disabled="disabled" class="btn btn-warning">Save Calendar</button>
          <a href="/account/calendars.html" target="_blank" class="btn btn-warning">My Account</a>
        </div>
        <div v-bind:data-show="showDayView" class="day-view">
          <div class="action-bar">
              <div class="action-nav">
                  <div class="btn-group" role="group" aria-label="pagination">
                      <button v-on:click="yesterday" class="btn btn-light" aria-label="Yesterday">
                          <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                              <path d="M0 0h24v24H0z" fill="none"/>
                          </svg>
                      </button>
                      <button v-on:click="today" class="btn btn-light" aria-label="Today">
                          <span>Today</span>
                      </button>
                      <button v-on:click="tomorrow" class="btn btn-light" aria-label="Tomorrow">
                          <svg fill="#000000" width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                              <path d="M0 0h24v24H0z" fill="none"/>
                          </svg>
                      </button>
                  </div>
              </div>
              <div class="action-year">
                  <h1>${ monthName } ${ selectedDay }, ${ year } - ${ weekDayName }</h1>
              </div>
              <div class="action-page">
                  <button v-on:click="hideDayView" class="btn btn-light">
                      <svg style="width:26px;height:26px" viewBox="0 0 24 24"><path fill="#000000" d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" /></svg>
                  </button>
              </div>
          </div>
          <div class="workout-buttons">
            <button v-on:click="modalWorkout" class="btn btn-sm btn-primary">Add Workout</button>
          </div>
          <ul class="event">
            <li v-for="(infos, group) in dayInfo">
              <h6>${group}</h6>
              <ul>
                <li v-for="info in infos">
                  <p>${info.title}</p>
                  <pre>${info.description}</pre>
                  <button v-on:click="onDeleteDayInfo(info.date, info.index)" class="btn btn-sm btn-warning">Delete</button>
                </li>
              </ul>
            </li>
            <li v-if="!hasDayInfo()">No workouts for this day.</li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <form v-on:submit="onSubmit" v-bind:action="formUrl" method="POST">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title align-center" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="form-login" class="form-login" method="POST">
            <div v-if="message" v-bind:class="messageClass" role="alert">${message}</div>
            <input type="hidden" name="redirectTo">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input v-bind:disabled="disabled" v-model="email" type="email" name="email" class="form-control" id="email" placeholder="Enter email" autocomplete="username email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input v-bind:disabled="disabled" v-model="password" type="password" name="password" minlength="8" class="form-control" id="password" placeholder="Password" autocomplete="current-password">
            </div>
            <p><a target="_blank" href="/forgot-password.html">Forgot password?</a></p>
            <div class="form-group text-center">
                <button v-bind:disabled="disabled" type="submit" class="btn btn-lg btn-warning">Login</button>
            </div>
            <p class="text-center">Don't have an account yet? <br><a target="_blank" href="/account/register.html">Create a Free Account</a></p>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="modal-workout" tabindex="-1" role="dialog" aria-labelledby="Add Workout" aria-hidden="true">
  <form v-on:submit="onSubmit" method="POST">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title align-center" id="exampleModalLabel">Add Workout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="form-login" class="form-login" method="POST">
            <div v-if="message" v-bind:class="messageClass" role="alert">${message}</div>
            <input type="hidden" name="redirectTo">
            <div class="form-group">
                <label for="title">Title</label>
                <input v-model="title" type="text" name="title" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="description">Description (Separate by newline)</label>
                <textarea v-bind:disabled="disabled" v-model="description" class="form-control" name="description" id="description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select v-bind:disabled="disabled" v-model="type" name="type" id="" class="form-control">
                  <option value="run">Run</option>
                  <option value="weight">Weight</option>
                  <option value="bike">Bike</option>
                  <option value="swim">Swim</option>
                  <option value="ski">Ski</option>
                  <option value="rest">Rest</option>
                  <option value="others">Others</option>
                </select>
            </div>
            <div class="form-group text-center">
                <button v-bind:disabled="disabled" type="submit" class="btn btn-lg btn-warning">Create Workout</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block script %}
<script src="{{baseUrl}}/js/jquery.min.js"></script>
<script src="{{baseUrl}}/bootstrap4/js/bootstrap.bundle.min.js"></script>
<script src="{{baseUrl}}/js/moment.min.js"></script>
<script src="{{baseUrl}}/js/lodash.min.js"></script>
<script src="{{baseUrl}}/js/vue.js"></script>
<script src="{{baseUrl}}/js/helper.js"></script>
<script>
var momentNow = moment.utc().add(this.timeZone, 'hours');

var vHomeCalendar = new Vue({
  el: "#calendar-view",
  delimiters: ["${", "}"],
  data: {
    page: 1,
    placeholders: ["Eg. My 10k Plan", "Eg. Pre-conditioning", "Eg. Half-Marathon", "Eg. Lose Weight", "Eg. My Ultimate Plan!"],
    placeholderIndex: 0,
    questions: ["Name your calendar", "When is your event?", "When will you start?", "Choose a preset"],
    calendarName: "",
    calendarDate: "",
    calendarId: null,
    anchor: "start",
    planUid: "0",
    shake1: "",
    shake2: "",
    shake3: "",
    calendarData: null, 
    disabled: null,
    showDayView: false,
    year: parseInt(momentNow.format('YYYY')),
    month: parseInt(momentNow.format('M')),
    day: parseInt(momentNow.format('D')),
    timeZone: helper.getMyTimeZone(),
    weekStart: 0,
  },
  mounted: function(){
    var me = this;
    var timeouts = [5000, 2000, 3000, 5000, 4000];
    var timeout = 0;
    setInterval(function(){
      var max = me.placeholders.length-1;
      var min = 0;
      me.placeholderIndex = Math.floor(Math.random() * (max - min + 1)) + min;
    }, 2000);

    this.calendarDate = moment().format('YYYY-MM-DD');


    this.calendarName = "Test2";
    this.anchor = "start";
    this.page = 3;
    this.setPage(3);
    this.planUid ='beginner-5k';
    jQuery('.q-card-3 button').trigger('click')
  },
  computed: {
    placeholder1: function(){
      return this.placeholders[this.placeholderIndex];
    },
    question: function(){
      if(this.page===1){
        return this.questions[0];
      } else if(this.page===2){
        if(this.anchor==="end"){
          return this.questions[1];
        } else {
          return this.questions[2];
        }
      } else {
        return this.questions[3];
      }
    },
    selectedDay: function(){
      var momentCurrent = this.getCurrentMoment();
      return momentCurrent.format('DD');
    },
    weekDayName: function(){
      var momentCurrent = this.getCurrentMoment();
      return momentCurrent.format('dddd');
    },
    monthName: function(){
      var momentCurrent = this.getCurrentMoment();
      return momentCurrent.format('MMMM');
    },
    weekDays: function(){
      var names = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
      return lodash.concat(lodash.slice(names, this.weekStart), lodash.slice(names, 0, this.weekStart));
    },
    matrix: function(){
      var me = this;
      var momentCurrent = moment.utc(helper.isoDate(this.year, this.month, 1)); // Day dont matter 
      var momentPrevMonth = momentCurrent.clone().subtract(1, 'months');
      var momentNextMonth = momentCurrent.clone().add(1, 'months');
      var weekDayFirst = parseInt(momentCurrent.clone().startOf('month').format('d')); // First day of week. Zero-based. 0-6
      var weekDayLast = parseInt(momentCurrent.clone().endOf('month').format('d')); // This months last day of week. Zero-based. 0-6
      
      // Prefix length formula
      var prefixLength = weekDayFirst - this.weekStart;
      if(prefixLength < 0){
        prefixLength += 7;
      }
      var prefix = helper.generateDays(momentPrevMonth.daysInMonth()); // Get previous month's total number of days and place it in an array
      prefix = lodash.takeRight(prefix, prefixLength); // Cut the parts we need
      prefix = lodash.map(prefix, function(day){
        return {
          type: 'prefix',
          year: parseInt(momentPrevMonth.format('YYYY')),
          month: parseInt(momentPrevMonth.format('M')),
          day: day
        }
      });
      // Generate current days as array
      var days = helper.generateDays(momentCurrent.daysInMonth());
      days = lodash.map(days, function(day){
        return {
          type: 'day',
          year: parseInt(momentCurrent.format('YYYY')),
          month: parseInt(momentCurrent.format('M')),
          day: day
        }
      });

      // Suffix length formula
      const weekDays = 6; // 0-6 (7) days in a week
      var suffixLength = weekDays - (weekDayLast - this.weekStart);
      if(suffixLength > 6){
        suffixLength = suffixLength - weekDays - 1;
      }
      var suffix = helper.generateDays(suffixLength);
      suffix = lodash.map(suffix, function(day){
        return {
          type: 'suffix',
          year: parseInt(momentNextMonth.format('YYYY')),
          month: parseInt(momentNextMonth.format('M')),
          day: day
        }
      });

      // Prepend prefix and append suffix to matrix
      var monthDaysArray = lodash.concat(prefix, days, suffix); 

      // Add calendar data and NOW
      if(me.calendarData!==null){
        monthDaysArray = lodash.map(monthDaysArray, function(el){
          var isoDate = helper.isoDate(el.year, el.month, el.day);
          var index = isoDate.split('T')[0];
          el.info = lodash.get(me.calendarData, index, [])
          var now1 = moment.utc(isoDate).add(me.timeZone, 'hours');
          var now2 = moment.utc().add(me.timeZone, 'hours');
          if (now1.format("YYYY-MM-DD") === now2.format("YYYY-MM-DD")){
            el.type +=' now';
          }
          return el;
        });
      }
      monthDaysArray = lodash.chunk(monthDaysArray, 7); 
      return monthDaysArray;
    },
    dayInfo: function(){
      var me = this;
      var isoDate = helper.isoDate(this.year, this.month, this.day);
      var index = isoDate.split('T')[0];
      var infos = lodash.get(me.calendarData, index, []);
      infos = lodash.map(infos, function(info, index){
        info.index = index;
        return info;
      });
      infos = lodash.groupBy(infos, function(info){
        return info.workoutType;
      })
      return infos;
    },
  },
  
  
  methods: {
    hasDayInfo: function(){
      return (Object.keys(this.dayInfo).length > 0);
    },
    onDeleteDayInfo: function (date, index){
      // console.log(date, index)
      this.calendarData[date].splice(index, 1);
    },
    isActive: function(page){
      return (page===this.page)?"1":"";
    },
    onConfig: function(){
      jQuery('html, body').animate({
          scrollTop: 0
      }, 600);
    },
    onDate: function(dayObject){
      this.showDayView = true;
      this.year = dayObject.year;
      this.month = dayObject.month;
      this.day = dayObject.day;
    },
    getCurrentMoment: function(){
      var momentCurrent = moment.utc(helper.isoDate(this.year, this.month, this.day));
      return momentCurrent.add(this.timeZone, 'hours').clone();
    },
    yesterday: function(e){
      e.preventDefault();
      var momentCurrent = this.getCurrentMoment();
      momentCurrent.subtract(1, 'days');
      this.year = parseInt(momentCurrent.format('YYYY'));
      this.month = parseInt(momentCurrent.format('M'));
      this.day = parseInt(momentCurrent.format('D'));
    },
    today: function(e){
      momentNow = moment.utc().add(this.timeZone, 'hours');
      this.year = parseInt(momentNow.format('YYYY'));
      this.month = parseInt(momentNow.format('M'));
      this.day = parseInt(momentNow.format('D'));
    },
    tomorrow: function(e){
      e.preventDefault();
      var momentCurrent = this.getCurrentMoment();
      momentCurrent.add(1, 'days');
      this.year = parseInt(momentCurrent.format('YYYY'));
      this.month = parseInt(momentCurrent.format('M'));
      this.day = parseInt(momentCurrent.format('D'));
    },
    hideDayView: function(){
      this.showDayView = false;
    },
    setPage: function(page){
      var me = this;
      if(page===2 && _.trim(this.calendarName)===""){
        this.shake1 = "shake";
        setTimeout(function(){
          me.shake1 = "";
        }, 200);
        return ;
      } else if(page===3 && _.trim(this.calendarDate)===""){
        this.shake2 = "shake";
        setTimeout(function(){
          me.shake2 = "";
        }, 200);
        return ;
      }
      if(page===4){
        this.disabled = "disabled";
        var dateObj = moment.utc();
        var url = '/api/plan-to-calendar-data.json';
        url += '?planUid='+this.planUid;
        url += '&date='+this.calendarDate;
        url += '&anchor='+this.anchor;
        jQuery.get(url).then(function(rawCalendarData){
            var calendarData = calendarData = lodash.groupBy(rawCalendarData, function(o){
              return o.date;
            });
            me.calendarData = calendarData;
            
            jQuery('html, body').animate({
                scrollTop: $("#calendar").offset().top
            }, 600);
        }).always(function(){
          me.disabled = null;
        }).catch(function(err){
            console.log('error:', err);
        });
      } else {
        this.page = page;
      }
      
    },
    prevMonth: function(e){
      e.preventDefault();
      var momentCurrent = moment.utc(helper.isoDate(this.year, this.month, this.day));
      momentCurrent.subtract(1, 'months');
      this.year = parseInt(momentCurrent.format('YYYY'));
      this.month = parseInt(momentCurrent.format('M'));
      this.day = parseInt(momentCurrent.format('D'));
    },
    nextMonth: function(e){
      e.preventDefault();
      var momentCurrent = moment.utc(helper.isoDate(this.year, this.month, this.day));
      momentCurrent.add(1, 'months');
      this.year = parseInt(momentCurrent.format('YYYY'));
      this.month = parseInt(momentCurrent.format('M'));
      this.day = parseInt(momentCurrent.format('D'));
    },
    modalWorkout: function(){
      jQuery('#modal-workout').modal();
      vModalWorkout.message = "";
      vModalWorkout.title = "";
      vModalWorkout.description = "";
      
    },
    saveCalendar: function(){
      var me = this;
      this.disabled = "disabled";
      var url = '/api/calendar/create.json';
      if(me.calendarId!==null){
        url = '/api/calendar/update.json';
      }
      jQuery.post(url, {
        calendarId: me.calendarId,
        title: me.calendarName,
        dateAnchorPoint: me.anchor,
        month: me.month,
        day: me.day,
        year: me.year,
        calendarDataCollection: JSON.stringify(me.calendarData),
      }).then(function(result){
        console.log(result);
        me.calendarId = lodash.get(result, 'calendarId', null);
        
      }).always(function(){
        me.disabled = null;
      }).catch(function(err){
        var error = err.responseJSON || ["Unknown error"];
        error = error.shift();
        if(error==='Unauthenticated'){
          jQuery('#modal-login').modal();
        }
      });

    }
  }
});

var vModalLogin = new Vue({
  el: "#modal-login",
  delimiters: ["${", "}"],
  data: {
    formUrl: '{{baseUrl}}/account/login.json',
    disabled: null,
    email:"",
    password:"",
    btnSubmitValue: "Login",
    messageClass: "alert",
    message:"",
  },
  methods: {
    onSubmit: function(e){
      e.preventDefault();
      var me = this,
        btnSubmitValue = me.btnSubmitValue;
      me.btnSubmitValue = "Logging in..."
      me.disabled = "disabled";
      
      jQuery.post(me.formUrl, {
          redirectTo: me.redirectTo,
          email: me.email,
          password: me.password
      }).then(function(data){
          me.messageClass = "alert alert-success";
          me.message = "Login successful, please wait...";
          $('#modal-login').modal('hide');
          // window.location.replace(data.redirectTo);
          // me.disabled = "disabled";
          // console.log(data);
          // var data = {
          //   title: vHomeCalendar.calendarName,
          //   dateAnchorPoint: vHomeCalendar.anchor,
          //   month: vHomeCalendar.month,
          //   day: vHomeCalendar.day,
          //   year: vHomeCalendar.year,
          //   calendarDataCollection: JSON.stringify(vHomeCalendar.calendarData),
          // }; 
          // console.log(JSON.stringify(vHomeCalendar.calendarData));
          // jQuery.post('/api/calendar-data/create.json', data ).then(function(result){
          //   console.log(result);
          //   $('#modal-login').modal('hide');
          // }).fail(function(jqXHR, textStatus, httpError){
          //   var error = jqXHR.responseJSON || ["Unknown error"];
          //   me.messageClass = "alert alert-danger";
          //   me.message = error.shift();
          // }).always(function(){
          //   me.disabled = null;
          // });
      }).fail(function(jqXHR, textStatus, httpError){
          var error = jqXHR.responseJSON || ["Unknown error"];
          me.messageClass = "alert alert-danger";
          me.message = error.shift();
      }).always(function(){
          me.btnSubmitValue = btnSubmitValue
          me.disabled = null;
      });
    }
  }
});

var vModalWorkout = new Vue({
  el: "#modal-workout",
  delimiters: ["${", "}"],
  data: {
    title: '',
    description: '',
    type: 'run',
    messageClass: "alert",
    message:"",
  },
  computed: {
    disabled: function(){
      if(lodash.trim(this.title) === ""){
        return "disabled"
      }
      return null;
    }
  },
  methods: {
    onSubmit: function(e){
      e.preventDefault();
      if(lodash.trim(this.title) === ""){
        this.messageClass = "alert alert-danger";
        this.message = "Please provide a Title."
        return false;
      }
      var isoDate = helper.isoDate(vHomeCalendar.year, vHomeCalendar.month, vHomeCalendar.day);
      var index = isoDate.split('T')[0];
      var data = {
        calendarId: vHomeCalendar.calendarId,
        date: index,
        title: this.title,
        description: this.description,
        workoutType: this.type
      };
      if(lodash.get(vHomeCalendar.calendarData, index, null)===null){
        Vue.set(vHomeCalendar.calendarData, index, []);
      }

      vHomeCalendar.calendarData[index].push(data);
      this.messageClass = "alert alert-success";
      this.message = "Workout added";
      this.title = "";
      this.description = "";
    }
  }
});
</script>
{% endblock %}
