{% extends "body.html" %}

{% block main %}
    <div class="container main">
    <div class="row justify-content-center register">
        
        <div class="col-12 col-sm-4 info">
            <h1>Password Reset</h1>
            <p>Type your new password to proceed.</p>
        </div>
        <div class="col-12 col-sm-4 form">
            <form v-cloak v-on:submit.prevent="onSubmit" v-bind:action="formUrl" id="form-password-reset" class="form-password-reset" method="POST">
                <input type="hidden" name="uid" v-model="uid">
                <div v-if="message" v-bind:class="messageClass" role="alert">${message}</div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input v-model="password" v-bind:disabled="disabled" type="password" name="password" class="form-control" id="password" placeholder="Enter password" autocomplete="new-password">
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input v-model="passwordConfirm" v-bind:disabled="disabled" type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Confirm password" autocomplete="new-password">
                </div>
                <div class="form-group">
                    <button v-bind:disabled="disabled" type="submit" class="btn btn-warning">${btnSendValue}</button>
                </div>
                <p class="text-center">Already have an account? <a href="/account/login.html">Login here</a></p>
            </form>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}
{% block scripts %}
<script src="{{baseUrl}}/js/jquery.min.js"></script>
<script src="{{baseUrl}}/js/vue.min.js"></script>
<script src="{{baseUrl}}/bootstrap4/js/bootstrap.bundle.min.js"></script>
<script>
    var form = new Vue({
        el: '#form-password-reset',
        delimiters: ["${", "}"],
        data: {
            formUrl: '{{baseUrl}}/password-reset.json',
            uid: '{{uid}}',
            btnSendValue: "Reset",
            password: '',
            passwordConfirm: '',
            disabled: null,
            messageClass: "alert",
            message:"",
        },
        methods: {
            onSubmit: function(e){
                var me = this,
                    btnSendValue = me.btnSendValue;
                me.btnSendValue = "Resetting..."
                me.disabled = "disabled";
                jQuery.post( me.formUrl, {
                    uid: me.uid,
                    password: me.password,
                    passwordConfirm: me.passwordConfirm
                }).then(function(data){
                    me.messageClass = "alert alert-success";
                    me.message = "Password changed. You may login with your new password.";
                }).fail(function(jqXHR, textStatus, httpError){
                    var error = jqXHR.responseJSON || ["Unknown error"];
                    me.messageClass = "alert alert-danger";
                    me.message = error.shift();
                }).always(function(){
                    me.btnSendValue = btnSendValue;
                    me.disabled = null;
                });
            }
        }
    });
</script>
{% endblock %}