{% extends "body.html" %}

{% block main %}
    <div class="container main">
    <div class="row justify-content-center register">
        <div class="col">
            <h1>Privacy Policy</h1>
            <p>At https://runtrainingcalendar.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by https://runtrainingcalendar.com and how we use it.</p>

            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at inbox@runtrainingcalendar.com.</p>

            <p><strong>Log Files</strong></p>

            <p>https://runtrainingcalendar.com follows a standard procedure of using log files. Log files are used for debugging the web app in production to know what happened. It records error messages.</p>

            <h3>Cookies</h3>
            <p>Like any other website, https://runtrainingcalendar.com uses "cookies". These cookies are used to store  a unique ID your browser. This unique ID is needed to identify your session when you are logged-in as an authenticated user.</p>
           
            <p>You can choose to disable cookies through your individual browser options but the website will now function properly.</p>
            
            <p><strong>Online Privacy Policy Only</strong></p>
            <p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in https://runtrainingcalendar.com. This policy is not applicable to any information collected offline or via channels other than this website.</p>
            <p><strong>Consent</strong></p>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
            
        </div>
        
    </div>
</div><!-- /.container -->
{% endblock %}
